@inject ISongRepository songRepository

<div class="individual-song-container">

    <MudCard>

        <MudCardContent>
            <a href="@songURL">
                <img src="@Song.Photo" alt="Photo" class="song-photo" />
            </a>

            <MudText Typo="Typo.h5" Align="Align.Center">
                <a href="@songURL" style="color: #594AE2; font-weight: bold">@Song.Title</a>
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Left">
                by <a href="artist/@Song.Artist.ID/@Song.Artist.Name.Replace(" ", "-")" style="color: #594AE2; font-weight: bold">@Song.Artist.Name</a>
                <br />Uploaded by: <a href="user/diahexik" style="color: #594AE2; font-weight: bold">Diahexik</a>
                <br />Rating:

            </MudText>
            <br />
            <AuthorizeView>
                <Authorized>
                    <br />
                    <div class="edit-delete-button-container">
                        <div class="edit-delete-button">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Link="@songEditURL" Color="Color.Primary">Edit</MudButton>
                        </div>
                        <div class="edit-delete-button">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" @onclick="@(() => DeleteSong(Song.ID))" Link="/artists" Color="Color.Error">Delete</MudButton>
                        </div>
                    </div>

                </Authorized>
            </AuthorizeView>
        </MudCardContent>

        <MudCardActions>

        </MudCardActions>
    </MudCard>


</div>


@code {
    [Parameter] public Song Song { get; set; }
    private string songURL = string.Empty;
    private string songEditURL = string.Empty;

    protected override void OnInitialized()
    {
        songURL = $"song/{Song.ID}/{Song.Title.Replace(" ", "-")}";
    }

    private async Task DeleteSong(int id)
    {
        await songRepository.DeleteSong(id);
    }
}
