<div class="individual-song-container">
    <a href="@songURL">
        <img src="@Song.Photo" alt="Photo" class="song-photo" />
    </a>
    <p><a href="@songURL">@Song.Title</a>
    by <a href="artist/@Song.Artist.ID">@Song.Artist.Name</a>
    <br /> Uploaded by: <a href="user/@Song.UserUploaded.ID">@Song.UserUploaded.Name</a>
    <br /> Rating: </p>
</div>



@code {
    [Parameter] public Song Song { get; set; }
    private string songURL = string.Empty;

    protected override void OnInitialized()
    {
        songURL = $"song/{Song.ID}/{Song.Title.Replace(" ", "-")}";
    }
}
